<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/lib/css/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/css/site.css">
	<title>Asp Net Core</title>
</head>
<body>
	<header>
		@* header *@
	</header>

	<div class="container">
		<div class="row">
			<div class="col-12">
				@RenderBody()
			</div>
		</div>
	</div>

	<footer>
		@* footer *@
	</footer>

	<script src='~/lib/bootstrap/js/bootstrap.bundle.min.js'></script>
	<script src='~/js/site.js'></script>
</body>
</html>