:root{
	--primary-background: #2d3a47;
	--secondary-background: #1f2428;

	--primary-color: #f3ff82;
}

body{
	background-color: var(--primary-background);
	font-family: Share Tech Mono;
	color: var(--primary-color);
}

