:root{
	--primary-background: #252729;
	--secondary-background: #1f2428;

	--primary-color: #8dc4ff;
}

body{
	background-color: var(--primary-background);
	font-family: Share Tech Mono;
	color: var(--primary-color);
}

